body {
    color: #ff7b00;

    text-align: center;
}
html {
    background:
        fixed
        center / cover
        url('../img/sushis.jpg')

      ;
}
div{
    margin:10 20;
}
h1{
    font-size:100px
}
.container {
    display:block;
    width: 100%;
}
.contenue{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    font-size:42px;
    width: 50%;
    border-radius:30px;
    border:solid 5px #083504f1;
}
a:hover{
    color:coral;
}
h2{
    color:beige;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: coral;
    font-size:35px;
    width: 80%;
    border-radius:30px;
    border:solid 5px #083504f1;
}
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}